{% extends "soc/base_generic.html" %}
{% load static %}
{% block content %}
<h2>AbuseIPDB Data for IP: {{ data.data.ipAddress }}</h2>
{% if data.error %}
    <p>Error: {{ data.error }}</p>
{% else %}
    <p><strong>Domain:</strong> {{ data.data.domain }}</p>
    <p><strong>Total Reports:</strong> {{ data.data.totalReports }}</p>
    <p><strong>ISP:</strong> {{ data.data.isp }}</p>
    <p><strong>Country:</strong> {{ data.data.countryName }}</p>
    <p><strong>Last Report:</strong> {{ data.data.lastReportedAt }}</p>
{% endif %}
{% endblock %}



